.hero {
  /* display: flex;
  flex-direction: row; */
  background-color: #eaeef3;
}
.button {
  background-color: #1da599;
  /* margin-left: 0.5em; */
  outline: none;
  border: none;
  color: #fff;
  padding: 0.2 0.5rem;
}
.button:hover {
  cursor: pointer;
  background-color: #0f615a;
}

/* 
.left,
.right {
  width: 50%;
}


} */

/* .left {
  margin-left: 7rem;
  margin-top: 5rem;
} */
.main {
  /* margin-left: 7rem; */
  padding-top: 5rem;
}

.hero-image {
  /* text-align: center;
  justify-content: center;
  width: ; */
}
p {
  font-weight: 400;
  margin-top: 1rem;
  color: #1b1d21;
}
.shop {
  background-color: #1da599;
  margin-left: 0.5rem;
  outline: none;
  border: none;
}
.shop:hover {
  background-color: #0f615a;
}

.main-bestdeals {
  /* margin-left: 7rem; */
  margin-top: 5rem;
}
.deals {
  /* display: flex;
  flex-direction: row; */
}
.hero-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.left-deal {
  background: rgb(26, 161, 149);
  background: linear-gradient(
    90deg,
    rgba(26, 161, 149, 1) 0%,
    rgb(51, 190, 179) 70%
  );
}
.right1-deal {
  background: rgb(0, 50, 95);
  background: linear-gradient(90deg, rgb(0, 54, 102) 0%, rgb(1, 56, 107) 40%);
  padding: 1rem;
}
.right2-deal {
  background: rgb(251, 123, 5);
  background: linear-gradient(
    90deg,
    rgb(233, 113, 0) 0%,
    rgb(248, 134, 28) 87%
  );
  margin-top: 2rem;
  padding: 1rem;
}

.deal-details {
  margin: 5rem;
}
.deal-name {
  color: #fff;
  /* font-size: 1.5rem; */
  font-weight: 500;
}
.deal-year {
  color: #fff;
  /* font-size: 1.6rem; */
  font-weight: 600;
}
.price {
  color: #fff;
  /* font-size: 1.5rem; */
}
.price-range {
  font-size: 1.6rem;
  color: #ffc513;
}

.deal-name-right {
  color: #fff;
  /* font-size: 1rem; */
  font-weight: 500;
}
.deal-year-right {
  color: #fff;
  /* font-size: 1.2rem; */
  font-weight: 600;
}
.price-right {
  color: #fff;
  font-size: 1rem;
}
.price-range-right {
  /* font-size: 1.1rem; */
  color: #fff;
}
/* Responsiveess____________________________________________ */

.icons {
  color: #1da599;
  margin-left: 0.5rem;
  cursor: pointer;
}
.icons:hover {
  color: #0f615a;
}

/* .shipping{
  display: flex;
  flex-direction: row;
} */
.ship-style {
  margin-left: 2rem;
}
/* .divider{
margin-left: 3rem
} */
/* .shipping{
  width: 30%;
} */
.learn-more {
  font-weight: 500;
  color: #1da599;
}

/* _____________________________Featured */

.featured {
  margin-left: 7rem;
  margin-top: 5rem;
}
.featured-head > h3 {
  display: inline;
}

.see-all {
  margin-left: 1rem;
  color: #1da599;
  font-weight: 500;
}

.product-image {
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  object-fit: contain;
  transition: 0.5s;
}
.tumbnail {
  margin-left: 6rem;
}
.product-image:hover {
  opacity: 0.8;
  filter: blur(0.08rem);
  /* opacity: 0.5; */

  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.brand-name {
  font-size: 10px;
  color: rgb(160, 158, 158);
  margin-left: 1rem;
}
.product-price {
  font-size: 14px;
  font-weight: 500;
  color: #1da599;
  /* margin-left: 2rem; */
}
.product-name {
  font-weight: 500;
  cursor: pointer;
}
.product-name:hover {
  font-weight: 500;
  cursor: pointer;
}
.card-hover {
  transition: 0.5s;
}
.card-hover:hover {
  /* opacity: 0.1; */
  /* filter: blur(0.08rem); */
  /* opacity: 0.5; */
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.products {
  margin-top: 2rem;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: rgb(243, 255, 74);
}
.off {
  color: #ccc;
}
.rating {
  /* margin-left: 1.5rem; */
  margin-top: -0.8rem;
  margin-bottom: -0.8rem;
}
.negativemargine {
  margin-bottom: -0.8rem;
}
/* _____________________________F */

.catagory-image {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}
.catagory-style {
  border: 1px solid rgb(94, 91, 91, 0.2);
  border-radius: 0.5rem;
  padding-left: 1rem;
  width: 17rem;
}
.cat {
  margin-top: 2rem;
}
.empty {
  margin-left: 4rem;
}

.inner {
  padding: 0.3rem;
}
