.main {
  display: flex;
  flex-direction: row;
  background-color: #eaeef3;
}
.left,
.right {
  width: 50%;
}
.hero-image {
  text-align: center;
  justify-content: center;
  width: 100%;
}
.left {
  margin-left: 7rem;
  margin-top: 5rem;
}
p {
  font-weight: 400;
  margin-top: 1rem;
  color: #1b1d21;
}
.shop {
  background-color: #1da599;
  margin-left: 0.5rem;
  outline: none;
  border: none;
}
.shop:hover {
  background-color: #0f615a;
}

.main-bestdeals {
  margin-left: 7rem;
  margin-top: 3rem;
}
.deals {
  display: flex;
  flex-direction: row;
}

.left-deal {
  background: rgb(26, 161, 149);
  background: linear-gradient(
    90deg,
    rgba(26, 161, 149, 1) 0%,
    rgb(51, 190, 179) 70%
  );
  height: 25rem;
  width: 50%;
  margin-right: 2rem;
}
.right-deal {
  width: 30%;
  margin-right: 3rem;
}
.right1-deal {
  background: rgb(0, 50, 95);
  background: linear-gradient(90deg, rgb(0, 54, 102) 0%, rgb(1, 56, 107) 40%);
  height: 12rem;
  padding: 1rem;
}
.right2-deal {
  background: rgb(251, 123, 5);
  background: linear-gradient(
    90deg,
    rgb(233, 113, 0) 0%,
    rgb(248, 134, 28) 87%
  );
  height: 11rem;
  margin-top: 2rem;
  padding: 1rem;
}

.deal-details {
  margin: 5rem;
}
.deal-name {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}
.deal-year {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}
.price {
  color: #fff;
  font-size: 1.5rem;
}
.price-range {
  font-size: 1.6rem;
  color: #ffc513;
}

.deal-name-right {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}
.deal-year-right {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}
.price-right {
  color: #fff;
  font-size: 1rem;
}
.price-range-right {
  font-size: 1.1rem;
  color: #fff;
}
/* Responsiveess____________________________________________ */


.icons {
  color: #1da599;
  margin-left: 0.5rem;
  cursor: pointer;
}
.icons:hover {
  color: #0f615a;
}

.shipping{
  display: flex;
  flex-direction: row;
}
.ship-style{
  margin-left:2rem;
}
.divider{
  display: flex;
  flex-direction: row;
}
.shipping{
  width: 30%;
}
.learn-more{
  font-weight: bold;
  color: rgb(34, 33, 33);
}

